N8N_CHAT_WEBHOOK_URL=
N8N_HINT_WEBHOOK_URL=
GEMINI_API_KEY=
GEMINI_MODEL=
PORT=8080

GOOGLE_DRIVE_FOLDER_ID=your_google_drive_root_folder_id
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_PROJECT_ID=your_google_cloud_project_id
